
.container {
    background: url("../images/beer.jpg");
    height: 1000px;
    width: 1920px; 
    text-align: center;
    padding: 100px;
}
.col-md-8 {
    background: white;
    height: 700px; 
    width: 300px;
}
.btn {
    color: #F7ADD0;
}
